<template>
  <div class="main">
    <p class="title">{{task}}</p>
    <div v-if="list.length < 4" class="status">正在努力请求中...</div>
    <div v-if="list.length === 4" class="status">请求完成</div>
    <ul v-if="list.length>0">
      <li v-for="(i, j) in list" :key="j">{{j + ':' + i}}</li>
    </ul>
    <p v-if="conclusion" class="conclusion">{{conclusion}}</p>
  </div>
</template>

<script>
export default {
  name: 'flow',
  data () {
    return {
      list: [],
      tempList: [],
      taskList: ['异步任务', '同步任务', '异步组任务', '同步组任务', '异步阻塞任务', '异步转同步阻塞任务'],
      task: '',
      conclusion: ''
    }
  },
  mounted () {
    // this.asyncFunc()
    // this.syncFunc()
    // this.allAsync()
    this.allSync()
    // this.asyncInterruption()
    // this.syncInterruption()
  },
  methods: {
    asyncFunc () {
      this.task = this.taskList[0]
      this.get('a')
      this.get('b')
      this.get('c')
      this.get('d')
      this.conclusion = '异步任务按完成时间先完成先返回'
    },
    async syncFunc () {
      this.task = this.taskList[1]
      await this.get('a')
      await this.get('b')
      await this.get('c')
      await this.get('d')
      this.conclusion = '同步任务按完成调用顺序先调用先返回'
    },
    allAsync () {
      this.task = this.taskList[2]
      Promise.all([this.getAll('a'), this.getAll('b'), this.getAll('c'), this.getAll('d')]).then(v => {
        this.list = this.tempList
        this.conclusion = '异步组任务等待全部请求完成再返回，组内异步任务按完成时间先完成先返回'
      })
    },
    async allSync () {
      this.task = this.taskList[3]
      Promise.all([await this.getAll('a'), await this.getAll('b'), await this.getAll('c'), await this.getAll('d')]).then(v => {
        this.list = this.tempList
        this.conclusion = '同步组任务等待全部请求完成再返回，组内同步任务按调用顺序先调用先返回'
      })
    },
    asyncInterruption () {
      this.task = this.taskList[4]
      this.getIO('a').then(v => {
        this.list.push(v)
      }).catch(e => {
        this.list.push(e.message)
      })
      this.getIO('b').then(v => {
        this.list.push(v)
      }).catch(e => {
        this.list.push(e.message)
      })
      this.getIO('c').then(v => {
        this.list.push(v)
      }).catch(e => {
        this.list.push(e.message)
      })
      this.getIO('d').then(v => {
        this.list.push(v)
      }).catch(e => {
        this.list.push(e.message)
      })
      this.conclusion = '异步任务无法阻塞'
    },
    async syncInterruption () {
      this.task = this.taskList[5]
      let a = await this.getIO('a').catch(e => {
        this.list.push(e.message)
        return false
      })
      if (a) {
        this.list.push(a)
      } else {
        this.list.push('阻塞a成功')
        return
      }
      let b = await this.getIO('b').catch(e => {
        this.list.push(e.message)
        return false
      })
      if (b) {
        this.list.push(b)
      } else {
        this.list.push('阻塞b成功')
        return
      }
      let c = await this.getIO('c').catch(e => {
        this.list.push(e.message)
        return false
      })
      if (c) {
        this.list.push(c)
      } else {
        this.list.push('阻塞c成功')
        return
      }
      let d = await this.getIO('d').catch(e => {
        this.list.push(e.message)
        return false
      })
      if (d) {
        this.list.push(d)
      } else {
        this.list.push('阻塞d成功')
        return
      }
      this.conclusion = '异步转成同步任务可实现阻塞'
    },
    getAll (t) {
      return new Promise((resolve, reject) => {
        let delay = Math.floor(Math.random() * (6 - 0.5 + 1)) + 0.5
        setTimeout(() => {
          this.tempList.push('我是' + t + ', 耗时：' + delay + 's')
          resolve(true)
        }, delay * 1000)
      })
    },
    get (t) {
      return new Promise((resolve, reject) => {
        let delay = Math.floor(Math.random() * (6 - 0.5 + 1)) + 0.5
        setTimeout(() => {
          this.list.push('我是' + t + ', 耗时：' + delay + 's')
          resolve(true)
        }, delay * 1000)
      })
    },
    getIO (t) {
      return new Promise((resolve, reject) => {
        let delay = Math.floor(Math.random() * (6 - 0.5 + 1)) + 0.5
        setTimeout(() => {
          if (delay > 3) {
            return reject(new Error('我是' + t + ', 耗时：' + delay + 's，任务出错了'))
          }
          resolve('我是' + t + ', 耗时：' + delay + 's')
        }, delay * 1000)
      })
    }
  }
}
</script>

<style scoped>
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.title {
  font-size: 20px;
  font-weight: 600;
  color: #000;
}
.status {
  color: #999;
  font-size: 12px;
}
.conclusion {
  color: #999;
}
</style>
