<template>
  <div class="root">
    <h2>简单引入子组件：</h2>
    <div>
      <h3>子组件：</h3>
      <child></child>
    </div>
    <h2>1.匿名插槽</h2>
    <div>
      <h3>1.1单个匿名插槽</h3>
      <div>
        <div>
          <h4>1.1.1.只引入</h4>
          <p>子组件：</p>
          <slot1></slot1>
          <h4>结果：插槽被忽略</h4>
        </div>
        <div>
          <h4>1.1.2.给插槽设置默认内容</h4>
          <p>子组件：</p>
          <slot2></slot2>
          <h4>显示默认内容</h4>
        </div>
        <div>
          <h4>1.1.3.给插槽插入内容</h4>
          <p>子组件：</p>
          <slot2>
            直接写文本
            <span>写个html标签</span>
          </slot2>
          <h4>覆盖默认，可以写文本和标签</h4>
        </div>
      </div>
      <h3>1.2多个匿名插槽</h3>
      <div>
        <div>
          <h4>1.2.1</h4>
          <slot3>
            插入的内容
          </slot3>
        </div>
        <h4>如果有多个匿名插槽，无法单独控制每个插槽的插入内容</h4>
      </div>
    </div>
    <h2>2.具名插槽</h2>
    <div>
      <div>
        <h3>2.1父组件不指名要插入内容的slot的name</h3>
        <div>
          <namedSlot >
            不指名要插入内容的slot的name
          </namedSlot>
        </div>
        <h4>无效</h4>
      </div>
      <div>
        <h3>2.2正确使用具名插槽</h3>
        <div>
          <h4>2.2.1父组件只使用部分插槽</h4>
          <div>
            <namedSlot >
              <p slot="slot1">只使用slot1</p>
            </namedSlot>
          </div>
          <h4>忽略未被使用的插槽</h4>
        </div>
        <div>
          <h4>2.2.2父组件使用全部插槽</h4>
          <div>
            <namedSlot >
              <p slot="slot1">使用slot1</p>
              <p slot="slot2">使用slot2</p>
            </namedSlot>
          </div>
          <h4>没毛病</h4>
        </div>
        <div>
          <h4>2.2.3父组件多次使用某个具名插槽</h4>
          <div>
            <namedSlot >
              <p slot="slot1">第一次使用slot1</p>
              <p slot="slot1">第二次使用slot1</p>
              <p slot="slot2">第一次使用slot2</p>
            </namedSlot>
          </div>
          <h4>没毛病</h4>
        </div>
      </div>
    </div>

    <h2>3.作用域插槽</h2>
    <div>
      <h3>3.1父组件接收子组件通过插槽传递的数据</h3>
      <div>
        <scopeSlot>
          <template slot-scope="props">
            <p>props数据结构：{{ props }}</p>
            <ul>
              <li v-for="(item, index) in props.data" :key="index">{{ item }}</li>
            </ul>
          </template>
        </scopeSlot>
        <h4>
          可以接收子组件插槽传递的数据；
          template也可以是其他标签
        </h4>
      </div>
    </div>

    <h2>总结</h2>
    <div>
      <p>插槽最主要的作用是，在封装组件时可以预留位置，供不同的父组件根据场景插入不同的内容，提高了组件的可扩展性</p>
      <p>作用域插槽，使数据流更简单明了，不需要通过$emit等方法传递数据</p>
    </div>
  </div>
</template>
<script>
import child from '@/components/child'
import slot1 from '@/components/slot1'
import slot2 from '@/components/slot2'
import slot3 from '@/components/slot3'
import scopeSlot from '@/components/scopeSlot'
import namedSlot from '@/components/namedSlot'
export default {
  components: {
    child,
    slot1,
    slot2,
    slot3,
    scopeSlot,
    namedSlot
  }
}
</script>
<style scoped>
.root{
  width: 1200px;
  margin: 0 auto;
}
</style>
