<template>
  <div class="root">
    <div class="header">header</div>
    <div class="body">
      body
      <div>
        <slot :data="list"></slot>
      </div>
    </div>
    <div class="foot">foot</div>
  </div>
</template>
<script>
export default {
  data () {
    return {
      list: ['小小牌', '小小超', '小小诚']
    }
  }
}
</script>
