<template>
  <div class="root">
    <div class="header">header</div>
    <div class="body">
      body
      <div>
        <slot>默认内容</slot>
      </div>
    </div>
    <div class="foot">foot</div>
  </div>
</template>
